<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="angularjs/css/angular-material.min.css">
    <link rel="stylesheet" href="css/context-tabs.css">
</head>
<body ng-app="BlankApp" ng-cloak>
<div ng-controller="AppCtrl" layout="column" ng-cloak>

    <!--头部-->
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="More">
                <md-icon md-svg-icon="svgs/slide.svg"></md-icon>
            </md-button>

            </md-icon>
            <!--<md-button ng-click="toggleLeft()" class="md-raised">-->
            <!--请求 / 历史-->
            <!--</md-button>-->
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn" aria-label="Toggle Menu">
            </button>
            <h1 layout-align-gt-sm="center">
                Yes Test And RESTApi
            </h1>
        </div>
    </md-toolbar>


    <!--左边导航-->
    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-whiteframe="4">


            <!-- 搜索 -->
            <div ng-controller="AppCtrl" layout="column" ng-cloak>

                <md-content layout-padding>
                    <form name="projectForm">

                        <md-input-container class="md-block">
                            <label>关键字</label>
                            <input md-maxlength="30" required md-no-asterisk name="description"
                                   ng-model="project.description">
                            <!--<div ng-messages="projectForm.description.$error">-->
                            <!--<div ng-message="required">搜索字符不能为空</div>-->
                            <!--<div ng-message="md-maxlength">最大30个字符</div>-->
                            <!--</div>-->
                        </md-input-container>
                    </form>
                </md-content>
            </div>


            <!-- tab分组 -->
            <div ng-cloak>


                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="历史记录">
                            <md-content>
                                <div layout="row" layout-align="right">
                                    <md-button class="md-warn">删除全部</md-button>
                                </div>
                                <md-list style="padding:0">
                                    <md-divider inset></md-divider>
                                    <md-subheader class="md-no-sticky">

                                        <strong>昨天</strong>
                                    </md-subheader>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>
                                <md-list style="padding:0">
                                    <md-subheader class="md-no-sticky"><strong>前天</strong></md-subheader>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>

                            </md-content>
                        </md-tab>


                        <md-tab label="请求列表">
                            <md-content>

                                <md-sidenav class="md-sidenav-right" md-component-id="settingSild"
                                            md-disable-backdrop md-whiteframe="4">

                                    <md-toolbar class="md-theme-indigo">
                                        <!--<h1 class="md-toolbar-tools">操作/测试</h1>-->
                                        <!--<md-button ng-click="settingSild()" class="md-accent">close</md-button>-->
                                        <md-list-item class="md-2-line">
                                            <div class="md-list-item-text"
                                                 ng-class="{'md-offset': phone.options.offset }">
                                                <h3>操作/测试</h3>
                                            </div>
                                            <md-button aria-label="menu" ng-click="settingSild()"
                                                       class="md-secondary md-fab md-primary md-mini">
                                                <md-icon md-svg-src="svgs/close.svg"></md-icon>
                                            </md-button>

                                        </md-list-item>
                                    </md-toolbar>

                                    <md-content>

                                        <md-tabs md-dynamic-height md-border-bottom>
                                            <md-tab label="操作">
                                                <md-tab-label>
                                                    <md-icon md-svg-icon="svgs/operation.svg"></md-icon>
                                                </md-tab-label>
                                                <md-tab-body>
                                                    <md -list>
                                                        <md-list-item
                                                                ng-click="navigateTo(setting.extraScreen, $event)">
                                                            <md-icon md-svg-icon="svgs/export.svg"></md-icon>
                                                            <p> 导出postman </p>
                                                        </md-list-item>
                                                        <md-list-item
                                                                ng-click="navigateTo(setting.extraScreen, $event)">
                                                            <md-icon md-svg-icon="svgs/file.svg"></md-icon>
                                                            <p> 导出postman </p>
                                                        </md-list-item>
                                                        <md-list-item
                                                                ng-click="navigateTo(setting.extraScreen, $event)">
                                                            <md-icon md-svg-icon="svgs/file.svg"></md-icon>
                                                            <p> 导出postman </p>
                                                        </md-list-item>
                                                    </md-list>

                                                </md-tab-body>
                                            </md-tab>
                                            <md-tab>
                                                <md-tab-label>
                                                    <md-icon md-svg-icon="svgs/test.svg"></md-icon>
                                                </md-tab-label>
                                                <md-tab-body>
                                                    <md-list>
                                                        <md-list-item>
                                                            <md-icon md-svg-icon="svgs/last-time.svg"></md-icon>
                                                            <p>2017-08-12 14:51:22</p>
                                                        </md-list-item>
                                                        <md-list-item>
                                                            <md-icon md-svg-icon="svgs/owner.svg"></md-icon>
                                                            <p>lake</p>
                                                        </md-list-item>
                                                    </md-list>
                                                    <md-list>
                                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                                   class="md-raised">
                                                            共享
                                                        </md-button>
                                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                                   class="md-raised md-primary">
                                                            运行
                                                        </md-button>
                                                    </md-list>
                                                    <!--<md-divider inset></md-divider>-->
                                                    <md-tabs md-dynamic-height md-border-bottom>
                                                        <md-tab label="操作">
                                                            <md-tab-label>
                                                                测试结果
                                                            </md-tab-label>
                                                            <md-tab-body>

                                                            </md-tab-body>
                                                        </md-tab>
                                                        <md-tab>
                                                            <md-tab-label>
                                                                监控
                                                            </md-tab-label>
                                                            <md-tab-body>

                                                            </md-tab-body>
                                                        </md-tab>
                                                    </md-tabs>
                                                </md-tab-body>
                                            </md-tab>
                                        </md-tabs>
                                    </md-content>

                                </md-sidenav>

                                <div layout="row" layout-align="right">
                                    <md-button class="md-icon-button" aria-label="More">
                                        <md-icon md-svg-icon="svgs/all.svg"></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <md-icon md-svg-icon="svgs/my.svg"></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <md-icon md-svg-icon="svgs/team.svg"></md-icon>
                                    </md-button>
                                </div>
                                <md-divider inset></md-divider>
                                <md-list>
                                    <md-list-item class="md-2-line" style="background: #e1e1e1">
                                        <md-icon md-svg-icon="svgs/fold.svg"></md-icon>
                                        <div class="md-list-item-text"
                                             ng-class="{'md-offset': phone.options.offset }">
                                            <h3> 用户模块 </h3>
                                            <p> 2 request</p>
                                        </div>
                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                   class="md-secondary md-fab md-primary md-mini">
                                            <md-icon md-svg-src="svgs/more-white.svg"></md-icon>
                                        </md-button>

                                    </md-list-item>

                                    <md-divider inset></md-divider>
                                    <md-list-item class="md-2-line" style="background: #f3f3f3">
                                        <md-icon md-svg-icon="svgs/file.svg"></md-icon>
                                        <div class="md-list-item-text"
                                             ng-class="{'md-offset': phone.options.offset }">
                                            <h3> 授权 </h3>
                                            <p> 2 request</p>
                                        </div>
                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                   class="md-secondary md-fab md-primary md-mini">
                                            <md-icon md-svg-src="svgs/more-white.svg"></md-icon>
                                        </md-button>

                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>
                                <md-list>
                                    <md-subheader style="background: #e1e1e1" class="md-no-sticky">
                                        <strong>用户模块</strong></md-subheader>
                                    <md-divider inset></md-divider>
                                    <md-subheader class="md-no-sticky">
                                        授权
                                    </md-subheader>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>


        </md-sidenav>

        <md-content flex layout-padding>

            <div layout-align="center">

                <div ng-controller="ContextTabsCtl" class="sample" layout="column" ng-cloak>
                    <md-content class="md-padding">
                        <md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom md-autoselect>
                            <md-tab ng-repeat="tab in tabs"
                                    ng-disabled="tab.disabled"
                                    label="{{tab.title}}">
                                <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">

                                    <div flex layout="row">
                                        <!--下拉-->
                                        <div layout-align="space-between left" flex="6">
                                            <md-select ng-model="armor" placeholder="GET" class="md-no-underline"
                                                       md-no-asterisk="false">
                                                <md-option value="GET">GET</md-option>
                                                <md-option value="POST">POST</md-option>
                                                <md-option value="PUT">PUT</md-option>
                                                <md-option value="DELETE">DELETE</md-option>
                                                <md-option value="PATCH">POST</md-option>
                                                <md-option value="OPTIONS">OPTIONS</md-option>
                                            </md-select>
                                        </div>

                                        <md-input-container flex="80">
                                            <label>请求地扯</label>
                                            <input ng-model="user.title">
                                        </md-input-container>
                                        <section flex="12" layout="row" layout-sm="column" layout-align="center center"
                                                 layout-wrap>
                                            <md-button class="md-raised">Prams</md-button>
                                            <md-button class="md-raised md-primary">发送</md-button>
                                            <!--<div class="label">Raised</div>-->
                                        </section>
                                    </div>

                                    <!-- params -->
                                    <md-content ng-hide="true">
                                        <div layout-gt-sm="row">
                                            <md-checkbox ng-model="data.cb1" flex="6" aria-label="Checkbox 1">
                                            </md-checkbox>

                                            <md-input-container flex="30">
                                                <label>name</label>
                                                <input ng-model="user.firstName">
                                            </md-input-container>
                                            <!--<div flex="5" hide-xs hide-sm>-->
                                            <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                            <!--</div>-->
                                            <md-input-container flex="30">
                                                <label>value</label>
                                                <input ng-model="theMax">
                                            </md-input-container>
                                            <!--<div flex="5" hide-xs hide-sm>-->
                                            <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                            <!--</div>-->
                                            <md-input-container flex="30">
                                                <label>description</label>
                                                <input ng-model="theMax">
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-checkbox ng-model="data.cb1" flex="6" aria-label="Checkbox 1">
                                            </md-checkbox>

                                            <md-input-container flex="30">
                                                <label>name</label>
                                                <input ng-model="user.firstName">
                                            </md-input-container>
                                            <!--<div flex="5" hide-xs hide-sm>-->
                                            <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                            <!--</div>-->
                                            <md-input-container flex="30">
                                                <label>value</label>
                                                <input ng-model="theMax">
                                            </md-input-container>
                                            <!--<div flex="5" hide-xs hide-sm>-->
                                            <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                            <!--</div>-->
                                            <md-input-container flex="30">
                                                <label>description</label>
                                                <input ng-model="theMax">
                                            </md-input-container>
                                        </div>
                                    </md-content>

                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="请求头">
                                            <md-content class="md-padding">
                                                <div layout-gt-sm="row">
                                                    <md-checkbox ng-model="data.cb1" flex="6" aria-label="Checkbox 1">
                                                    </md-checkbox>

                                                    <md-input-container flex="30">
                                                        <label>name</label>
                                                        <input ng-model="user.firstName">
                                                    </md-input-container>
                                                    <!--<div flex="5" hide-xs hide-sm>-->
                                                    <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                    <!--</div>-->
                                                    <md-input-container flex="30">
                                                        <label>value</label>
                                                        <input ng-model="theMax">
                                                    </md-input-container>
                                                    <!--<div flex="5" hide-xs hide-sm>-->
                                                    <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                    <!--</div>-->
                                                    <md-input-container flex="30">
                                                        <label>description</label>
                                                        <input ng-model="theMax">
                                                    </md-input-container>
                                                </div>
                                                <div layout-gt-sm="row">
                                                    <md-checkbox ng-model="data.cb1" flex="6" aria-label="Checkbox 1">
                                                    </md-checkbox>

                                                    <md-input-container flex="30">
                                                        <label>name</label>
                                                        <input ng-model="user.firstName">
                                                    </md-input-container>
                                                    <!--<div flex="5" hide-xs hide-sm>-->
                                                    <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                    <!--</div>-->
                                                    <md-input-container flex="30">
                                                        <label>value</label>
                                                        <input ng-model="theMax">
                                                    </md-input-container>
                                                    <!--<div flex="5" hide-xs hide-sm>-->
                                                    <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                    <!--</div>-->
                                                    <md-input-container flex="30">
                                                        <label>description</label>
                                                        <input ng-model="theMax">
                                                    </md-input-container>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="数据">
                                            <md-content class="md-padding">
                                                <md-tabs md-dynamic-height md-border-bottom>
                                                    <md-tab label="表单">
                                                        <md-content class="md-padding">

                                                            <div layout-gt-sm="row">
                                                                <md-checkbox ng-model="data.cb1" flex="6"
                                                                             aria-label="Checkbox 1">
                                                                </md-checkbox>

                                                                <md-input-container flex="30">
                                                                    <label>name</label>
                                                                    <input ng-model="user.firstName">
                                                                </md-input-container>
                                                                <!--<div flex="5" hide-xs hide-sm>-->
                                                                <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                                <!--</div>-->
                                                                <md-input-container flex="30">
                                                                    <label>value</label>
                                                                    <input ng-model="theMax">
                                                                </md-input-container>
                                                                <md-input-container flex="5">
                                                                    <md-select ng-model="weapon" placeholder="text"
                                                                               class="md-no-underline">
                                                                        <md-option value="text">text</md-option>
                                                                        <md-option value="file">file</md-option>
                                                                    </md-select>

                                                                </md-input-container>
                                                                <!--<div flex="5" hide-xs hide-sm>-->
                                                                <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                                <!--</div>-->
                                                                <md-input-container flex="30">
                                                                    <label>description</label>
                                                                    <input ng-model="theMax">
                                                                </md-input-container>
                                                            </div>

                                                        </md-content>
                                                    </md-tab>
                                                    <md-tab label="编码">
                                                        <md-content class="md-padding">

                                                            <md-content class="md-padding">

                                                                <div layout-gt-sm="row">
                                                                    <md-checkbox ng-model="data.cb1" flex="6"
                                                                                 aria-label="Checkbox 1">
                                                                    </md-checkbox>

                                                                    <md-input-container flex="30">
                                                                        <label>name</label>
                                                                        <input ng-model="user.firstName">
                                                                    </md-input-container>
                                                                    <!--<div flex="5" hide-xs hide-sm>-->
                                                                    <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                                    <!--</div>-->
                                                                    <md-input-container flex="30">
                                                                        <label>value</label>
                                                                        <input ng-model="theMax">
                                                                    </md-input-container>
                                                                    <!--<div flex="5" hide-xs hide-sm>-->
                                                                    <!--&lt;!&ndash; Spacer //&ndash;&gt;-->
                                                                    <!--</div>-->
                                                                    <md-input-container flex="30">
                                                                        <label>description</label>
                                                                        <input ng-model="theMax">
                                                                    </md-input-container>
                                                                </div>

                                                            </md-content>

                                                        </md-content>
                                                    </md-tab>
                                                    <md-tab label="raw">
                                                        <md-content class="md-padding">
                                                            <div layout="raw">
                                                                <md-select ng-model="armor" placeholder="Json"
                                                                           md-no-asterisk="false">
                                                                    <md-option value="Html">Html</md-option>
                                                                    <md-option value="Json">Json</md-option>
                                                                    <md-option value="Xml">Xml</md-option>
                                                                    <md-option value="Text">Text</md-option>
                                                                    <md-option value="Auto">Auto</md-option>
                                                                </md-select>
                                                            </div>
                                                            <md-content class="md-padding" style="border:1px solid red">
                                                                <textarea>
                                                                    asdfasdfasdf
                                                                </textarea>
                                                            </md-content>
                                                        </md-content>
                                                    </md-tab>
                                                </md-tabs>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>

                                    <md-button class="md-primary md-raised" ng-click="removeTab( tab )"
                                               ng-disabled="tabs.length <= 1">Remove Tab
                                    </md-button>
                                </div>

                                <md-content layout-padding>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="响应">
                                            <md-content class="md-padding">
                                                <div layout="row">
                                                    <!--<md-card-content>-->
                                                    <!--<md-input-container>-->
                                                    <p style="line-height: 30px">
                                                        内容&nbsp;
                                                    </p>
                                                    <!--</md-input-container>-->

                                                    <!--<md-input-container>-->
                                                    <div layout-align="space-between left" flex="6">
                                                        <md-switch ng-model="data.cb11" aria-label="Switch 1">
                                                            预览
                                                        </md-switch>
                                                    </div>
                                                    <!--</md-input-container>-->

                                                    <!--<div layout="row" layout-align="space-between center">-->
                                                    <!--<span>What is your favorite weapon?</span>-->
                                                    <div layout-align="space-between left" flex="6">
                                                    </div>
                                                    <span>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                        </span>
                                                    <md-select ng-model="weapon" placeholder="Json"
                                                               class="md-no-underline">
                                                        <md-option value="Json">Json</md-option>
                                                        <md-option value="Html">Html</md-option>
                                                        <md-option value="Text">Text</md-option>
                                                        <md-option value="Xml">Xml</md-option>
                                                    </md-select>
                                                    <!--</div>-->
                                                    <p style="line-height: 30px;position: absolute;right: 20px">
                                                        Status: <span style="color: blue;margin-right: 10px">405</span>
                                                        Time: <span style="color: blue;">200</span>
                                                    </p>

                                                </div>
                                                <div layout="row">
                                                    <section ng-controller="AceCtrl" style="width:100%;">

                                                        <div ui-ace="aceOption" style="height:500px"
                                                             ng-model="aceModel"></div>

                                                        <!--<select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>-->

                                                    </section>

                                                </div>

                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Cookies( 2 )">
                                            <md-content class="md-padding">
                                                <md-list>
                                                    <md-list-item class="md-3-line">
                                                        <div class="md-list-item-text">
                                                            <h1>Name</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Value</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Domain</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Path</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Expires</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Http</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Secure</h1>
                                                        </div>
                                                        <md-divider inset></md-divider>
                                                    </md-list-item>
                                                    <md-list-item class="md-3-line" ng-repeat="item in todos">
                                                        <!--<img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar">-->

                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <md-divider inset></md-divider>
                                                    </md-list-item>

                                                </md-list>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="Headers( 4 )">
                                            <md-content class="md-padding">
                                                <md-list>
                                                    <md-list-item class="md-3-line">
                                                        <div class="md-list-item-text">
                                                            <h1>Name</h1>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <h1>Value</h1>
                                                        </div>
                                                        <md-divider inset></md-divider>
                                                    </md-list-item>
                                                    <md-list-item class="md-3-line" ng-repeat="item in todos">
                                                        <!--<img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar">-->

                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <div class="md-list-item-text">
                                                            <p>
                                                                {{item.notes}}
                                                            </p>
                                                        </div>
                                                        <md-divider inset></md-divider>
                                                    </md-list-item>

                                                </md-list>
                                            </md-content>
                                        </md-tab>
                            </md-tab>
                        </md-tabs>
                    </md-content>

                    </md-tab>
                    </md-tabs>
        </md-content>


        <form ng-submit="addTab(tTitle,tContent)" layout="column" class="md-padding"
              style="padding-top: 0;">
            <div layout="row" layout-sm="column">


                <div flex style="position: relative;">
                    <h2 class="md-subhead"
                        style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">
                        Add a new Tab:</h2>
                </div>
                <md-input-container>
                    <label for="label">Label</label>
                    <input type="text" id="label" ng-model="tTitle">
                </md-input-container>
                <md-input-container>
                    <label for="content">Content</label>
                    <input type="text" id="content" ng-model="tContent">
                </md-input-container>
                <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent"
                           type="submit" style="margin-right: 0;">Add Tab
                </md-button>
            </div>
        </form>

</div>

</div>

</md-content>

</section>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="angularjs/js/angular.min.js"></script>
<script src="angularjs/js/angular-animate.min.js"></script>
<script src="angularjs/js/angular-aria.min.js"></script>
<script src="angularjs/js/angular-messages.min.js"></script>
<script src="https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>
<script src="plugins/ace/ui-ace.min.js"></script>

<!--<script src="js/context-tabs.js"></script>-->

<!-- Angular Material Library -->
<script src="angularjs/js/angular-material.min.js"></script>


<script type="text/javascript">

    //    angular.module('BlankApp', ['ngMaterial']);

    angular.module('BlankApp', ['ngMaterial', 'ui.ace'])
        .controller('AppCtrl', function ($scope, $timeout, $mdSidenav) {
            $scope.toggleLeft = buildToggler('left');
            $scope.settingSild = buildToggler('settingSild');
            $scope.toggleRight = buildToggler('right');

            function buildToggler(componentId) {
                return function () {
                    $mdSidenav(componentId).toggle();
                };
            }
        }).controller('ContextTabsCtl', ContextTabsCtl)
        .controller('AceCtrl', AceCtrl);

    function ContextTabsCtl($scope, $log) {
        var tabs = [
                {title: '查询用户列表', content: "one"},
                {
                    title: '更新',
                    content: '<div layout="row" layout-align="space-between center"><span>What armor do you wear?</span><md-select ng-model="armor" placeholder="Armor" class="md-no-underline" required md-no-asterisk="false"><md-option value="cloth">Cloth</md-option><md-option value="leather">Leather</md-option></md-select></div>'
                },
                {
                    title: 'delete',
                    content: "You can bind the selected tab via the selected attribute on the md-tabs element."
                }],
            selected = null,
            previous = null;
        $scope.tabs = tabs;
        $scope.selectedIndex = 2;
        $scope.$watch('selectedIndex', function (current, old) {
            previous = selected;
            selected = tabs[current];
            if (old + 1 && (old != current)) $log.debug('Goodbye ' + previous.title + '!');
            if (current + 1) $log.debug('Hello ' + selected.title + '!');
        });
        $scope.addTab = function (title, view) {
            view = view || title + " Content View";
            tabs.push({title: title, content: view, disabled: false});
        };
        $scope.removeTab = function (tab) {
            var index = tabs.indexOf(tab);
            tabs.splice(content, 1);
        };

        $scope.todos = [];
        for (var i = 0; i < 15; i++) {
            $scope.todos.push({
                face: '',
                what: "Brunch this weekend?",
                who: "Min Li Chan",
                notes: "I'll be in your neighborhood doing errands."
            });
        }
    }

    function AceCtrl($scope) {
// The modes
        $scope.modes = ['Scheme', 'XML', 'Javascript'];
        $scope.mode = $scope.modes[0];


        // The ui-ace option
        $scope.aceOption = {
            mode: $scope.mode.toLowerCase(),
            onLoad: function (_ace) {

                // HACK to have the ace instance in the scope...
                $scope.modeChanged = function () {
                    _ace.getSession().setMode("ace/mode/" + $scope.mode.toLowerCase());
                };

            }
        };

        // Initial code content...
        $scope.aceModel = ';; Scheme code in here.\n' +
            '(define (double x)\n\t(* x x))\n\n\n' +
            '<!-- XML code in here. -->\n' +
            '<root>\n\t<foo>\n\t</foo>\n\t<bar/>\n</root>\n\n\n' +
            '// Javascript code in here.\n' +
            'function foo(msg) {\n\tvar r = Math.random();\n\treturn "" + r + " : " + msg;\n}';

    }
</script>

</body>
</html>