<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="angularjs/css/angular-material.min.css">
    <link rel="stylesheet" href="css/context-tabs.css">
</head>
<body ng-app="BlankApp" ng-cloak>
<div ng-controller="AppCtrl" layout="column" ng-cloak>

    <!--头部-->
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="More">
                <md-icon md-svg-icon="svgs/slide.svg"></md-icon>
            </md-button>

            </md-icon>
            <!--<md-button ng-click="toggleLeft()" class="md-raised">-->
            <!--请求 / 历史-->
            <!--</md-button>-->
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn" aria-label="Toggle Menu">
            </button>
            <h1 layout-align-gt-sm="center">
                Yes Test And RESTApi
            </h1>
        </div>
    </md-toolbar>

    <md-content layout-padding layout="row" flex>
        <div flex="10">

        </div>
        <div flex="90">
            <section layout="row" layout-sm="column" layout-align="right center" layout-wrap>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="svgs/all.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="svgs/my.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="svgs/team.svg"></md-icon>
                </md-button>
                <form ng-controller="DemoAACtrl as ctrl" ng-submit="$event.preventDefault()">
                    <!--<p>Use <code>&lt;md-autocomplete&gt;</code> with custom templates to show styled autocomplete-->
                        <!--results.</p>-->
                    <md-autocomplete
                            ng-disabled="ctrl.isDisable"
                            md-no-cache="ctrl.noCache"
                            md-selected-item="ctrl.selectedItem"
                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                            md-search-text="ctrl.searchText"
                            md-selected-item-change="ctrl.selectedItemChange(item)"
                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                            md-item-text="item.name"
                            md-min-length="0"
                            placeholder="模块名"
                            md-menu-class="autocomplete-custom-template">

                        <md-item-template>
                          <span class="item-title">
                            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                            <span> {{item.name}} </span>
                          </span>
                                            <span class="item-metadata">
                            <span>
                              <strong>{{item.watchers}}</strong> watchers
                            </span>
                            <span>
                              <strong>{{item.forks}}</strong> forks
                            </span>
                          </span>
                        </md-item-template>
                    </md-autocomplete>
                </form>
            </section>
        </div>

    </md-content>

    <div layout="row" flex>
        <div flex="10">

        </div>
        <div flex="80">
            <md-content layout-xs="column" layout="row">
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">用户模块</span>
                                <span class="md-subhead">这里是用户模块的描述信息</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="imgs/washedout.png" style="width: 152px;height: 152px;"
                                         class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>postman</md-button>
                            <md-button>打开</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>

        </div>
        <div flex="10">

        </div>
    </div>

    <md-content layout-padding layout="row" flex>
        <div flex="60">

        </div>
        <div flex="40">
            <section layout="row" layout-sm="column" layout-align="right center" layout-wrap>
                <md-button class="md-raised">首页</md-button>
                <md-button ng-disabled="true" class="md-raised">上一页</md-button>
                <md-button ng-disabled="true" class="md-raised">下一页</md-button>
                <md-button class="md-raised">尾页</md-button>
            </section>
        </div>
    </md-content>

    <!--左边导航-->
    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-whiteframe="4">


            <!-- 搜索 -->
            <div ng-controller="AppCtrl" layout="column" ng-cloak>

                <md-content layout-padding>
                    <form name="projectForm">

                        <md-input-container class="md-block">
                            <label>关键字</label>
                            <input md-maxlength="30" required md-no-asterisk name="description"
                                   ng-model="project.description">
                            <!--<div ng-messages="projectForm.description.$error">-->
                            <!--<div ng-message="required">搜索字符不能为空</div>-->
                            <!--<div ng-message="md-maxlength">最大30个字符</div>-->
                            <!--</div>-->
                        </md-input-container>
                    </form>
                </md-content>
            </div>


            <!-- tab分组 -->
            <div ng-cloak>


                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="历史记录">
                            <md-content>
                                <div layout="row" layout-align="right">
                                    <md-button class="md-warn">删除全部</md-button>
                                </div>
                                <md-list style="padding:0">
                                    <md-divider inset></md-divider>
                                    <md-subheader class="md-no-sticky">

                                        <strong>昨天</strong>
                                    </md-subheader>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>
                                <md-list style="padding:0">
                                    <md-subheader class="md-no-sticky"><strong>前天</strong></md-subheader>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>

                            </md-content>
                        </md-tab>


                        <md-tab label="请求列表">
                            <md-content>

                                <md-sidenav class="md-sidenav-right" md-component-id="settingSild"
                                            md-disable-backdrop md-whiteframe="4">

                                    <md-toolbar class="md-theme-indigo">
                                        <!--<h1 class="md-toolbar-tools">操作/测试</h1>-->
                                        <!--<md-button ng-click="settingSild()" class="md-accent">close</md-button>-->
                                        <md-list-item class="md-2-line">
                                            <div class="md-list-item-text"
                                                 ng-class="{'md-offset': phone.options.offset }">
                                                <h3>操作/测试</h3>
                                            </div>
                                            <md-button aria-label="menu" ng-click="settingSild()"
                                                       class="md-secondary md-fab md-primary md-mini">
                                                <md-icon md-svg-src="svgs/close.svg"></md-icon>
                                            </md-button>

                                        </md-list-item>
                                    </md-toolbar>

                                    <md-content>

                                        <md-tabs md-dynamic-height md-border-bottom>
                                            <md-tab label="操作">
                                                <md-tab-label>
                                                    <md-icon md-svg-icon="svgs/operation.svg"></md-icon>
                                                </md-tab-label>
                                                <md-tab-body>
                                                    <md -list>
                                                        <md-list-item
                                                                ng-click="navigateTo(setting.extraScreen, $event)">
                                                            <md-icon md-svg-icon="svgs/export.svg"></md-icon>
                                                            <p> 导出postman </p>
                                                        </md-list-item>
                                                        <md-list-item
                                                                ng-click="navigateTo(setting.extraScreen, $event)">
                                                            <md-icon md-svg-icon="svgs/file.svg"></md-icon>
                                                            <p> 导出postman </p>
                                                        </md-list-item>
                                                        <md-list-item
                                                                ng-click="navigateTo(setting.extraScreen, $event)">
                                                            <md-icon md-svg-icon="svgs/file.svg"></md-icon>
                                                            <p> 导出postman </p>
                                                        </md-list-item>
                                                        </md-list>

                                                </md-tab-body>
                                            </md-tab>
                                            <md-tab>
                                                <md-tab-label>
                                                    <md-icon md-svg-icon="svgs/test.svg"></md-icon>
                                                </md-tab-label>
                                                <md-tab-body>
                                                    <md-list>
                                                        <md-list-item>
                                                            <md-icon md-svg-icon="svgs/last-time.svg"></md-icon>
                                                            <p>2017-08-12 14:51:22</p>
                                                        </md-list-item>
                                                        <md-list-item>
                                                            <md-icon md-svg-icon="svgs/owner.svg"></md-icon>
                                                            <p>lake</p>
                                                        </md-list-item>
                                                    </md-list>
                                                    <md-list>
                                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                                   class="md-raised">
                                                            共享
                                                        </md-button>
                                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                                   class="md-raised md-primary">
                                                            运行
                                                        </md-button>
                                                    </md-list>
                                                    <!--<md-divider inset></md-divider>-->
                                                    <md-tabs md-dynamic-height md-border-bottom>
                                                        <md-tab label="操作">
                                                            <md-tab-label>
                                                                测试结果
                                                            </md-tab-label>
                                                            <md-tab-body>

                                                            </md-tab-body>
                                                        </md-tab>
                                                        <md-tab>
                                                            <md-tab-label>
                                                                监控
                                                            </md-tab-label>
                                                            <md-tab-body>

                                                            </md-tab-body>
                                                        </md-tab>
                                                    </md-tabs>
                                                </md-tab-body>
                                            </md-tab>
                                        </md-tabs>
                                    </md-content>

                                </md-sidenav>

                                <div layout="row" layout-align="right">
                                    <md-button class="md-icon-button" aria-label="More">
                                        <md-icon md-svg-icon="svgs/all.svg"></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <md-icon md-svg-icon="svgs/my.svg"></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <md-icon md-svg-icon="svgs/team.svg"></md-icon>
                                    </md-button>
                                </div>
                                <md-divider inset></md-divider>
                                <md-list>
                                    <md-list-item class="md-2-line" style="background: #e1e1e1">
                                        <md-icon md-svg-icon="svgs/fold.svg"></md-icon>
                                        <div class="md-list-item-text"
                                             ng-class="{'md-offset': phone.options.offset }">
                                            <h3> 用户模块 </h3>
                                            <p> 2 request</p>
                                        </div>
                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                   class="md-secondary md-fab md-primary md-mini">
                                            <md-icon md-svg-src="svgs/more-white.svg"></md-icon>
                                        </md-button>

                                    </md-list-item>

                                    <md-divider inset></md-divider>
                                    <md-list-item class="md-2-line" style="background: #f3f3f3">
                                        <md-icon md-svg-icon="svgs/file.svg"></md-icon>
                                        <div class="md-list-item-text"
                                             ng-class="{'md-offset': phone.options.offset }">
                                            <h3> 授权 </h3>
                                            <p> 2 request</p>
                                        </div>
                                        <md-button aria-label="menu" ng-click="settingSild()"
                                                   class="md-secondary md-fab md-primary md-mini">
                                            <md-icon md-svg-src="svgs/more-white.svg"></md-icon>
                                        </md-button>

                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>
                                <md-list>
                                    <md-subheader style="background: #e1e1e1" class="md-no-sticky">
                                        <strong>用户模块</strong></md-subheader>
                                    <md-divider inset></md-divider>
                                    <md-subheader class="md-no-sticky">
                                        授权
                                    </md-subheader>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item>
                                        <div class="md-list-item-text">
                                            <div layout-wrap layout-gt-sm="row">
                                                <div flex-gt-sm="20">
                                                    <strong>POST</strong>
                                                </div>
                                                <div flex-gt-sm="80">
                                                    http://localhost:8080/asdfklasdjfkl
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-divider inset></md-divider>

                                </md-list>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-sidenav>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="angularjs/js/angular.min.js"></script>
        <script src="angularjs/js/angular-animate.min.js"></script>
        <script src="angularjs/js/angular-aria.min.js"></script>
        <script src="angularjs/js/angular-messages.min.js"></script>
        <!--<script src="https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>-->
        <!--<script src="https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>-->
        <script src="plugins/ace/ace.js"></script>
        <script src="plugins/ace/ui-ace.min.js"></script>

        <!--<script src="js/context-tabs.js"></script>-->

        <!-- Angular Material Library -->
        <script src="angularjs/js/angular-material.min.js"></script>


        <script type="text/javascript">

            //    angular.module('BlankApp', ['ngMaterial']);

            angular.module('BlankApp', ['ngMaterial', 'ui.ace'])
                .controller('AppCtrl', function ($scope, $timeout, $mdSidenav) {
                    $scope.toggleLeft = buildToggler('left');
                    $scope.settingSild = buildToggler('settingSild');
                    $scope.toggleRight = buildToggler('right');

                    function buildToggler(componentId) {
                        return function () {
                            $mdSidenav(componentId).toggle();
                        };
                    }



                }).controller('ContextTabsCtl', ContextTabsCtl)
                .controller('AceCtrl', AceCtrl)
                .controller('DemoAACtrl', DemoAACtrl)
            //                .controller('IndexAct', function($scope) {
            //                    $scope.isOpen = false;
            //
            //                    $scope.demo = {
            //                        isOpen: false,
            //                        count: 0,
            //                        selectedDirection: 'left'
            //                    };
            //                });

            function DemoAACtrl ($timeout, $q, $log) {
                var self = this;

                self.simulateQuery = false;
                self.isDisabled    = false;

                self.repos         = loadAll();
                self.querySearch   = querySearch;
                self.selectedItemChange = selectedItemChange;
                self.searchTextChange   = searchTextChange;

                // ******************************
                // Internal methods
                // ******************************

                /**
                 * Search for repos... use $timeout to simulate
                 * remote dataservice call.
                 */
                function querySearch (query) {
                    var results = query ? self.repos.filter( createFilterFor(query) ) : self.repos,
                        deferred;
                    if (self.simulateQuery) {
                        deferred = $q.defer();
                        $timeout(function () { deferred.resolve( results ); }, Math.random() * 1000, false);
                        return deferred.promise;
                    } else {
                        return results;
                    }
                }

                function searchTextChange(text) {
                    $log.info('Text changed to ' + text);
                }

                function selectedItemChange(item) {
                    $log.info('Item changed to ' + JSON.stringify(item));
                }

                /**
                 * Build `components` list of key/value pairs
                 */
                function loadAll() {
                    alert
                    var repos = [
                        {
                            'name'      : 'AngularJS',
                            'url'       : 'https://github.com/angular/angular.js',
                            'watchers'  : '3,623',
                            'forks'     : '16,175',
                        },
                        {
                            'name'      : 'Angular',
                            'url'       : 'https://github.com/angular/angular',
                            'watchers'  : '469',
                            'forks'     : '760',
                        },
                        {
                            'name'      : 'AngularJS Material',
                            'url'       : 'https://github.com/angular/material',
                            'watchers'  : '727',
                            'forks'     : '1,241',
                        },
                        {
                            'name'      : 'Angular Material',
                            'url'       : 'https://github.com/angular/material2',
                            'watchers'  : '727',
                            'forks'     : '1,241',
                        },
                        {
                            'name'      : 'Bower Material',
                            'url'       : 'https://github.com/angular/bower-material',
                            'watchers'  : '42',
                            'forks'     : '84',
                        },
                        {
                            'name'      : 'Material Start',
                            'url'       : 'https://github.com/angular/material-start',
                            'watchers'  : '81',
                            'forks'     : '303',
                        }
                    ];
                    return repos.map( function (repo) {
                        repo.value = repo.name.toLowerCase();
                        return repo;
                    });
                }

                /**
                 * Create filter function for a query string
                 */
                function createFilterFor(query) {
                    var lowercaseQuery = angular.lowercase(query);

                    return function filterFn(item) {
                        return (item.value.indexOf(lowercaseQuery) === 0);
                    };

                }
            }

            function ContextTabsCtl($scope, $log) {
                var tabs = [
                        {title: '查询用户列表', content: "one"},
                        {
                            title: '更新',
                            content: '<div layout="row" layout-align="space-between center"><span>What armor do you wear?</span><md-select ng-model="armor" placeholder="Armor" class="md-no-underline" required md-no-asterisk="false"><md-option value="cloth">Cloth</md-option><md-option value="leather">Leather</md-option></md-select></div>'
                        },
                        {
                            title: 'delete',
                            content: "You can bind the selected tab via the selected attribute on the md-tabs element."
                        }],
                    selected = null,
                    previous = null;
                $scope.tabs = tabs;
                $scope.selectedIndex = 2;
                $scope.$watch('selectedIndex', function (current, old) {
                    previous = selected;
                    selected = tabs[current];
                    if (old + 1 && (old != current)) $log.debug('Goodbye ' + previous.title + '!');
                    if (current + 1) $log.debug('Hello ' + selected.title + '!');
                });
                $scope.addTab = function (title, view) {
                    view = view || title + " Content View";
                    tabs.push({title: title, content: view, disabled: false});
                };
                $scope.removeTab = function (tab) {
                    var index = tabs.indexOf(tab);
                    tabs.splice(content, 1);
                };

                $scope.todos = [];
                for (var i = 0; i < 15; i++) {
                    $scope.todos.push({
                        face: '',
                        what: "Brunch this weekend?",
                        who: "Min Li Chan",
                        notes: "I'll be in your neighborhood doing errands."
                    });
                }
            }

            function AceCtrl($scope) {
// The modes
                $scope.modes = ['Scheme', 'XML', 'Javascript'];
                $scope.mode = $scope.modes[0];


                // The ui-ace option
                $scope.aceOption = {
                    mode: $scope.mode.toLowerCase(),
                    onLoad: function (_ace) {

                        // HACK to have the ace instance in the scope...
                        $scope.modeChanged = function () {
                            _ace.getSession().setMode("ace/mode/" + $scope.mode.toLowerCase());
                        };

                    }
                };

                // Initial code content...
                $scope.aceModel = ';; Scheme code in here.\n' +
                    '(define (double x)\n\t(* x x))\n\n\n' +
                    '<!-- XML code in here. -->\n' +
                    '<root>\n\t<foo>\n\t</foo>\n\t<bar/>\n</root>\n\n\n' +
                    '// Javascript code in here.\n' +
                    'function foo(msg) {\n\tvar r = Math.random();\n\treturn "" + r + " : " + msg;\n}';

            }
        </script>

</body>
</html>